@import "../../bower_components/bootstrap/less/bootstrap";

@font-face {
  font-family: aqua;
  src: url('../fonts/aqua.ttf') format('truetype');
}


 // Colors

@backgroundColor: #272727;
@backgroundColorLight: lighten(@backgroundColor, 10%);
@accentOne: #52C699;
@accentTwo: #FED766;
@fontColor: #EFF1F3;


* {
  box-sizing: border-box;
}

html, body {
  height: 480px;
  widows: 800px;
  overflow: hidden;
  background-color: @backgroundColor;
  color: @fontColor;
}

.btn, .btn:active, .btn:hover, .btn:visited,
a, a:active, a:hover, a:visited {
  color: @fontColor;
  text-decoration: none;
}

.padding-default {
  padding: 10px;
}

.padding-large {
  padding: 30px;
}

.overflow-hidden {
  height: 100%;
  overflow: hidden;
}

.ember-view {
  height: inherit;
}
#google-map {
  height: 100%;
}

.row-dashboard {
  margin: 15px auto;
  width: 340px;
  .fa {
    color: @accentOne;
  }
  .btn-dashboard {
    padding: 20px;
    background-color: @backgroundColorLight;
  }
}

.row-full {
  height: 480px;
}

.row-main {
  height: 400px;

  &.padded {
    padding: 20px;
  }
}

.row-bottom {
  height: 80px;
  vertical-align: middle;
}

.return-tag {
  display: inline-block;
  height: auto;
  padding: 5px 20px 5px 30px;
  border-radius: 20px;
  border: 1px solid @backgroundColor;
  z-index: 5;
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: @backgroundColor;
  font-size: 0.6em;
  .logo {
    letter-spacing: -4px;
  }
}

.btn-option {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  background-color: @backgroundColorLight;
  margin-bottom: 15px;
  text-align: left;

  i {
    float: left;
    margin-left: 10px;
  }
  div {
    padding: 10px 0;
    margin-left: 60px;
  }
}

.btn:active {
  background-color: @accentOne;
  color: @backgroundColorLight;
  .fa {
    color: @backgroundColorLight;
  }
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.calendar {

  .fc-unthemed {

    .fc-list-view, .fc-scroller {
      border-width: 0px;
      height: 400px !important;
    }

    .fc-widget-header {
      background: @backgroundColorLight;
      color: @accentOne;
      border-width: 0px;
    }
    .fc-list-heading {
      font-size: 1.25em;
    }
    .fc-list-item {
      font-size: 1.25em;
    }
    .fc-list-item:hover td {
      background: @backgroundColor;
    }

    .fc-list-item * {
      border-width: 0px;
    }
  }

}

.logo {
  font-family: aqua;
  font-size: 3.5em;
  letter-spacing: -6px;
  font-weight: lighter;
}
.logo-title {
  font-family: sans-serif;
  letter-spacing: 0px;
  font-size: 0.5em;
  font-weigh: lighter;
  color: @accentOne;
}
.padding-for-logo {
  padding-top: 5px;
}

.time {
  font-size: 4.5em;
  line-height: 75px;
  font-family: aqua;
}
