@import "../../bower_components/bootstrap/less/bootstrap";

@font-face {
  font-family: aqua;
  src: url('../fonts/aqua.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html, body {
  height: 480px;
  widows: 800px;
  overflow: hidden;
  background-color: #090909;
  color: #888;
}
a, a:active, a:hover, a:visited {
  color: #888;
  text-decoration: none;
}

.padding-default {
  padding: 10px;
}

.ember-view {
  height: inherit;
}
#google-map {
  height: 100%;
}

.row-full {
  height: 480px;
}

.row-main {
  height: 400px;
}

.row-bottom {
  height: 80px;
  vertical-align: middle;
}

.return-tag {
  display: inline-block;
  height: auto;
  padding: 5px 20px 5px 30px;
  border-radius: 20px;
  border: 1px solid #333;
  z-index: 5;
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: #090909;
  font-size: 0.6em;
  .logo {
    letter-spacing: -4px;
  }
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}


.logo {
  font-family: aqua;
  font-size: 3.5em;
  letter-spacing: -6px;
}
.logo-title {
  font-family: sans-serif;
  letter-spacing: 0px;
  font-size: 0.5em;
  font-weigh: lighter;
  color: #ccc;
}
.padding-for-logo {
  padding-top: 5px;
}

.time {
  font-size: 4.5em;
  line-height: 75px;
  font-family: aqua;
}
