{{#main-window subtitle='calendar'}}
  <div class="overflow-hidden calendar">
    {{full-calendar events=events viewName="list" locale="nl-be" views=listViewConfiguration header=false}}
  </div>
{{/main-window}}
