{{#main-window}}
<div class="padding-large text-center">
  <div class="row row-dashboard">
    <div class="col-xs-6">
      {{#link-to 'traffic'}}
        <div class="btn btn-sq-lg btn-light">
          <i class="fa fa-car fa-5x"></i><br/><br/>
          Traffic
        </div>
      {{/link-to}}
    </div>
    <div class="col-xs-6">
      {{#link-to 'music'}}
        <div class="btn btn-sq-lg btn-light">
          <i class="fa fa-music fa-5x"></i><br/><br/>
          Music
        </div>
      {{/link-to}}
    </div>
  </div>

  <div class="row row-dashboard">
    <div class="col-xs-6">
      {{#link-to 'calendar'}}
        <div class="btn btn-sq-lg btn-light">
          <i class="fa fa-calendar fa-5x"></i><br/><br/>
          Calendar
        </div>
      {{/link-to}}
    </div>
    <div class="col-xs-6">
      {{#link-to 'settings'}}
        <div class="btn btn-sq-lg btn-light">
          <i class="fa fa-cogs fa-5x"></i><br/><br/>
          Settings
        </div>
      {{/link-to}}
    </div>
  </div>
</div>
{{/main-window}}
