<div class="row row-main">

  <ul>
    <li>
      {{#link-to 'traffic'}}
        <i class="fa fa-car"></i> Traffic
      {{/link-to}}
    </li>
  </ul>

</div>
<div class="row row-bottom">
  <div class="col-xs-4">
    <div class="padding-default">
      {{the-logo}}
    </div>
  </div>
  <div class="col-xs-8">
    <div class="pull-right padding-default">
      {{the-time}}
    </div>
  </div>
</div>
