<div class="row-main padding-default text-center">
  <div class="col-xs-6">
    {{#link-to 'traffic'}}
      <div class="btn btn-sq-lg btn-light">
        <i class="fa fa-car fa-5x"></i><br/><br/>
        Traffic
      </div>
    {{/link-to}}
  </div>
  <div class="col-xs-6">
    {{#link-to 'music'}}
      <div class="btn btn-sq-lg btn-light">
        <i class="fa fa-music fa-5x"></i><br/><br/>
        Music
      </div>
    {{/link-to}}
  </div>
</div>
<div class="row-bottom">
  <div class="col-xs-4">
    {{the-logo}}
  </div>
  <div class="col-xs-8">
    <div class="pull-right padding-default">
      {{the-time}}
    </div>
  </div>
</div>
