<div class="row-main">
  {{traffic-map}}
</div>
<div class="row-bottom">
  <div class="col-xs-4">
    <div class="padding-for-logo">
      {{#link-to 'dashboard'}}
        {{the-logo title='traffic'}}
      {{/link-to}}
    </div>
  </div>
  <div class="col-xs-8">
    <div class="pull-right padding-default">
      {{the-time}}
    </div>
  </div>
</div>
