<!-- <div class="row"  style="height: 100%;">
  <div class="col-xs-1">
test
  </div>
  <div class="col xs-11" style="height: 100%;"> -->
    {{traffic-map}}
  <!-- </div>
</div>

<div class="row">

</div> -->
